<h2>Custom Reactive/Material Form Fields</h2>
<form [formGroup]="customFormGroup" fxLayout="column" fxLayoutAlign=" start">

  <!-- <my-simple-custom-form-control formControlName="nameCtrl" label="Basic Form Field"></my-simple-custom-form-control>
  <br> -->

  <mat-form-field appearance="fill">
    <my-custom-mat-form-control formControlName="ssnCtrl"></my-custom-mat-form-control>
    <mat-label>Material Form Field</mat-label>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <my-date-time-picker formControlName="dateCtrl"></my-date-time-picker>
    <mat-label>Date Time Picker</mat-label>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input matInput placeholder="appearance='fill'" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <my-select-with-clear formControlName="selectWithClearCtrl">
      <mat-option value="1">one</mat-option>
      <mat-option value="2">two</mat-option>
      <mat-option value="3">three</mat-option>
    </my-select-with-clear>
  </mat-form-field>

  <my-inline-edit formControlName="nameCtrl"></my-inline-edit>
  <br>

  <mat-form-field appearance="fill">
    <custom-select placeholder="Pick Your Holiday Destination"
      formControlName="selectedDestinationCtrl">
      <custom-select-option key="Paris" value="Paris"></custom-select-option>
      <custom-select-option key="Mauritius" value="Mauritius"></custom-select-option>
      <custom-select-option key="Singapore" value="Singapore"></custom-select-option>
      <custom-select-option key="Malaysia" value="Malaysia"></custom-select-option>
      <custom-select-option key="Goa" value="Goa"></custom-select-option>
      <custom-select-option key="Thailand" value="Thailand"></custom-select-option>
    </custom-select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="formSubmitClicked()" fxFlexAlign="start">SUBMIT</button>

  <br>
  {{results}}
</form>
