
div#container {
  padding: 5px;
  background-color: silver;
  color: black;
}

div#left {
  background-color: #FEEBC8;
  border-right: 2px solid silver;
}

div#right {
  background-color: #FEEBC8;
}

section {
  background-color: #D4E5FA;
  border: 5px solid rgba(85, 97, 85, 0.27);
  margin: 5px;
}

