@import 'material-theme';

.my-subheading-1 {
  // @include mat-typography-level-to-styles($custom-typography, subheading-1);
  font-size: mat-font-size($custom-typography, subheading-1);
  font-weight: mat-font-weight($custom-typography, subheading-1);
  line-height: mat-line-height($custom-typography, subheading-1);
  font-family: mat-font-family($custom-typography, subheading-1);
}

.mat-card {
  margin: 10px 0px;
}

.mat-slider-horizontal {
  width: 300px;
}

.mat-slider-vertical {
  height: 300px;
}

mat-chip {
  max-width: 200px;
}


