<h2>WebSockets using RxJs WebSocketSubject</h2>

{{wsServer}} <button mat-raised-button (click)="sendMessage()">SEND</button>
<br>

<br>
<mat-divider></mat-divider><br>

<div fxLayout="row">
	<div fxLayout="column" style="width: 50%">
    WebSocketSubject
		<app-web-socket-subject-client name="Client 1"></app-web-socket-subject-client>
		<app-web-socket-subject-client name="Client 2"></app-web-socket-subject-client>
		<app-web-socket-subject-client name="Client 3"></app-web-socket-subject-client>
	</div>
</div>