<h2>WebSockets using RxJs WebSocketSubject</h2>

{{wsServer}} <button mat-raised-button (click)="sendMessage()">SEND</button>
<br><br>
NOTE: run <code>'node webSocketServer.js'</code> from the <code>'/projects/sandbox'</code> folder
<br>
<mat-divider></mat-divider><br>

<div fxLayout="row">
	<div fxLayout="column" style="width: 50%">
    WebSocketSubject
		<my-web-socket-subject-client name="Client 1"></my-web-socket-subject-client>
		<my-web-socket-subject-client name="Client 2"></my-web-socket-subject-client>
		<my-web-socket-subject-client name="Client 3"></my-web-socket-subject-client>
	</div>
</div>