    .dropdown-arrow {
      position: absolute;
      color: inherit;
      right: 0;
      bottom: 5px;
      cursor: pointer;
    }

    .dropdown-options-container {
      width: 100%;
      border-radius: 3px;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .24);
      display: block;
      overflow: auto;
    }
