Component Two displays the updated state<br>
<br>
<div fxLayout="column">
    <div>Selected: {{ selectedName }}</div>

    <br><br>

    <div *ngFor="let customer of customerIndex1$ | async | keyvalue">
        {{ customer.value }}
    </div>

    <br><br>

    <div *ngFor="let customer of customerIndex2$ | async | keyvalue">
        {{ customer.value }}
    </div>

    <br><br>
    
    <div *ngFor="let customer of customers3$ | async | keyvalue">
        {{ customer.value }}
    </div>

    <br><br>
    
    <div *ngFor="let customer of customers4$ | async | keyvalue">
        <div fxLayout="row" fxLayoutAlign="start center">
            {{ customer.value }}
            <button mat-icon-button	(click)="deleteCustomer(customer.key)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</div>

