<mat-sidenav-container class="mat-typography" fxFill>

  <mat-sidenav #sidenav mode="over" (click)="sidenav.toggle()">
    <div fxLayout="column" fxFlexFill>
      <mat-grid-list cols="2" rowHeight="4:1">
        <mat-grid-tile><button mat-button routerLink="/material">Material Controls</button></mat-grid-tile>
        <mat-grid-tile><button mat-button routerLink="/formcontrols">Custom Form Controls</button></mat-grid-tile>
        <mat-grid-tile><button mat-button routerLink="/flexlayout1">Flex Layout 1</button></mat-grid-tile>
        <mat-grid-tile><button mat-button routerLink="/flexlayout2">Flex Layout 2<br>& Embedded mat-drawer</button></mat-grid-tile>
        <mat-grid-tile><button mat-button routerLink="/ag-grid">ag-grid</button></mat-grid-tile>
        <mat-grid-tile><button mat-button routerLink="/websockets">Web Sockets</button></mat-grid-tile>
        <mat-grid-tile><button mat-button routerLink="/rxjs">RxJs</button></mat-grid-tile>
        <mat-grid-tile><button mat-button routerLink="/class-transformer">class-transformer</button></mat-grid-tile>
        <mat-grid-tile><button mat-button routerLink="/d3">D3</button></mat-grid-tile>
        <mat-grid-tile><button mat-button routerLink="/ngxs">NGXS</button></mat-grid-tile>
        <mat-grid-tile><button mat-button routerLink="/misc">Misc</button></mat-grid-tile>
        <mat-grid-tile><button mat-button routerLink="/sp500">S&P 500</button></mat-grid-tile>
      </mat-grid-list>
      <div fxFlex></div>
      <div>footer goes here</div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content fxLayout="column">
    <!-- toolbar -->
    <mat-toolbar id="app-toolbar" fxLayout="row">
      <button mat-icon-button (click)="sidenav.toggle()">
        <!-- <fa-icon icon="bars" size="lg"></fa-icon> -->
        <mat-icon>menu</mat-icon>
      </button>
      &nbsp;&nbsp;&nbsp;
      <span id="title" class="mat-headline" fxFlex>Angular Sandbox</span>

      <router-outlet name="submenu"></router-outlet>
    </mat-toolbar>

    <div class="router-outlet" fxFlex>
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
