
$primary-palette: map-get($app-theme, primary);
$accent-palette: map-get($app-theme, accent);
$warn-palette: map-get($app-theme, warn);

$primary: mat-color($primary-palette);
$primary-contrast: map-get($primary-palette, lighter-contrast);
$primary-normal: mat-color($primary-palette);
$primary-light: mat-color($primary-palette, lighter);
$primary-dark: mat-color($primary-palette, darker);
$primary50: mat-color($primary-palette, 50);
$primary400: mat-color($primary-palette, 400);
$primary600: mat-color($primary-palette, 600);
$accent: mat-color($accent-palette);
$background: map-get(map-get($app-theme, background), background);
$foreground: map-get(map-get($app-theme, foreground), text);

$selected: #DB167B;

$grey: #BDBDBD;
$red: #F44336;
$yellow: #FFFF00;
$orange: #FFAB00;
$amber: $orange;
$blue: #0091EA;
$green: #00C853;
$white: #B4E7FF;

// event status
$eventStatus-unknown: $grey;
$eventStatus-not-occurred: $red;
$eventStatus-occurring: $blue;
$eventStatus-occurred: $green;

// response status
$responseStatus-unallocated: #C4C4C4;
$responseStatus-proposed: #80FF80;
$responseStatus-allocated: #8080FF;
$responseStatus-planned: #8ECB34;
$responseStatus-executing: #FFFFFF;
$responseStatus-completed: #00AA00;
$responseStatus-failed: #FF6060;
$responseStatus-cancelled: #797979;

// security classifications
$unclassified: $green;
$confidential: $blue;
$secret: $red;
$topsecret: $yellow;
