@import '~@angular/material/theming';
// do this to override typography settings
$custom-typography: mat-typography-config(
    $subheading-1:  mat-typography-level(15px, 24px, 300),
    $caption: mat-typography-level(10px, 16px, 300)
);
// default typography definitions
// $font-family:   'Roboto, "Helvetica Neue", sans-serif',
// $display-4:     mat-typography-level(112px, 112px, 300),
// $display-3:     mat-typography-level(56px, 56px, 400),
// $display-2:     mat-typography-level(45px, 48px, 400),
// $display-1:     mat-typography-level(34px, 40px, 400),
// $headline:      mat-typography-level(24px, 32px, 400),
// $title:         mat-typography-level(20px, 32px, 500),
// $subheading-2:  mat-typography-level(16px, 28px, 400),
// $subheading-1:  mat-typography-level(15px, 24px, 400),
// $body-2:        mat-typography-level(14px, 24px, 500),
// $body-1:        mat-typography-level(14px, 20px, 400),
// $caption:       mat-typography-level(12px, 20px, 400),
// $button:        mat-typography-level(14px, 14px, 500),
// // Line-height must be unit-less fraction of the font-size.
// $input:         mat-typography-level(inherit, 1.125, 400)
@include mat-core($custom-typography);
$app-primary: mat-palette($mat-blue-grey, 800, 700, 900);
$app-accent: mat-palette($mat-cyan, 200, 100, 300);
// override the default background colors for dark theme
$mat-dark-theme-background: (
    status-bar: black,
    app-bar: mat-color($app-primary, darker),
    background: mat-color($app-primary),
    hover: rgba(white, 0.04), // TODO(kara): check style with Material Design UX
    card: mat-color($app-primary),
    dialog: mat-color($app-primary),
    disabled-button: rgba(white, 0.12),
    raised-button: mat-color($app-primary),
    focused-button: $light-focused,
    selected-button: mat-color($app-primary, darker),
    selected-disabled-button: mat-color($app-primary),
    disabled-button-toggle: black,
    unselected-chip: mat-color($app-primary, lighter),
    disabled-list-option: black
);
$app-theme: mat-dark-theme($app-primary, $app-accent);
@include angular-material-theme($app-theme);

// light theme. add class="light-theme" to <ags-root> in index.html
$app-light-primary: mat-palette($mat-blue-grey, 400, 500, 600);
$app-light-theme: mat-light-theme($app-light-primary, $app-accent);
@include angular-material-theme($app-theme);
.light-theme {
    @include angular-material-theme($app-light-theme);
}

// Note:
// mat-color(map-get($app-theme, accent))
// map-get($app-theme, accent) gets the accent pallete
// mat-color(palette) gets the primary color in the palette

// .mat-raised-button,
// .mat-button {
//     background: mat-color(map-get($app-theme, primary), darker);
//     color: mat-color(map-get($app-theme, accent));
//     text-transform: uppercase;
// }

// .mat-icon-button, .mat-button-toggle .mat-icon {
//     color: mat-color(map-get($app-theme, accent));
// }

.mat-sidenav, .mat-drawer {
    padding: 10px;
}

.mat-dialog-actions {
    margin-top: 10px;
    float: right;
}

// .mat-list, .mat-selection-list {
//     outline: none;
// }

// focused input mat-form-field
.mat-form-field.mat-focused .mat-form-field-label {
    color: mat-color(map-get($app-theme, accent));
}
.mat-form-field.mat-focused .mat-form-field-ripple {
    background: mat-color(map-get($app-theme, accent));
}

// Selected tab, toggle button
.mat-tab-label-active, .mat-button-toggle-checked {
    color: mat-color(map-get($app-theme, accent));
}
.mat-ink-bar {
    background-color: mat-color(map-get($app-theme, accent)) !important;
    height: 3px !important;
}
