/* You can add global styles to this file, and also import other style files */

@import 'material-theme';
@import "~ng-pick-datetime/assets/style/picker.min.css";


@include mat-core($custom-typography);
@include angular-material-theme($app-theme);
@import 'shared-material-customizations';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body.wait,
body.wait input {
  cursor: wait !important;
}

a {
  text-decoration: none;
}

a:focus {
  outline: 0;
}

.ui-datepicker {
  background: mat-color(map-get($app-theme, primary));
}

.ui-datepicker-current-day {
  background: mat-color(map-get($app-theme, primary), lighter);
}

.ui-datepicker-today {
  background: blue;
}

.ui-datepicker-prev,
.ui-datepicker-next,
.pi.pi-chevron-down,
.pi.pi-chevron-up {
  color: currentColor;
}

// https://stackoverflow.com/questions/48427555/how-can-i-make-a-theme-able-angular-material-npm-module

.owl-dt-container {
  background: $primary;
  font-family: "Roboto";
}

.owl-dt-container,
.owl-dt-calendar-table .owl-dt-calendar-header,
.owl-dt-calendar-table .owl-dt-calendar-cell-content,
.owl-dt-weekday,
.owl-dt-timer-content,
.owl-dt-control-content {
  color: $foreground;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
  background: $primary-light;
}

.owl-dt-control-button-arrow svg g path {
  fill: $foreground;
}

.owl-dt-timer-content .owl-dt-timer-input {
  border: 1px solid $foreground;
}
