/* You can add global styles to this file, and also import other style files */

@import 'material-theme';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

$primary-palette: map-get($app-theme, primary);
$accent-palette: map-get($app-theme, accent);
$warn-palette: map-get($app-theme, warn);

$primary: mat-color($primary-palette);
$primary-light: mat-color($primary-palette, lighter);
$primary-dark: mat-color($primary-palette, darker);
$primary900: mat-color($primary-palette, darker);
$primary800: mat-color($primary-palette);
$primary700: mat-color($primary-palette, lighter);
$accent: mat-color($accent-palette);
$background: map-get(map-get($app-theme, background), background);
$foreground: map-get(map-get($app-theme, foreground), text);
$text-normal: map-get(map-get($app-theme, foreground), text);
$text-medium: rgba($text-normal, .6);
$highlight: rgba($foreground, .1);


html,
body {
    // background: $primary-light;
    height: 100%;
    margin: 0;
    padding: 0;
}

body.wait,
body.wait input {
    cursor: wait !important;
}

a {
    text-decoration: none;
}

a:focus {
    outline: 0;
}

// download fonts from this site https://google-webfonts-helper.herokuapp.com/fonts/roboto?subsets=latin


// datetimepicker /////////////////////////////////////////////////////////////////////////////////
@import "~ng-pick-datetime/assets/style/picker.min.css";

.owl-dt-container {
  background-color: $primary;
  font-family: inherit;
}

.owl-dt-container,
.owl-dt-calendar-table .owl-dt-calendar-header,
.owl-dt-calendar-table .owl-dt-calendar-cell-content,
.owl-dt-weekday,
.owl-dt-timer-content,
.owl-dt-control-content {
  color: $text-normal;
}

.owl-dt-calendar-table .owl-dt-calendar-cell:hover {
  background-color: $primary-light;
  border-radius: 999px;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
  background-color: $primary-light;
  border: 1px solid white;
}

.owl-dt-control-button-arrow svg g path {
  fill: $text-normal;
}

.owl-dt-timer-content .owl-dt-timer-input {
  border: 1px solid $text-normal;
}
