<div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Material Controls <a routerLink="/material">
          <mat-icon>link</mat-icon>
        </a>
      </mat-expansion-panel-header>
      Description goes here
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Custom Form Controls <a routerLink="/formcontrols">
          <mat-icon>link</mat-icon>
        </a>
      </mat-expansion-panel-header>
      Description goes here
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Flex Layout 1 <a routerLink="/flexlayout1">
          <mat-icon>link</mat-icon>
        </a>
      </mat-expansion-panel-header>
      @angular/flex-layout playground
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Flex Layout 2 <a routerLink="/flexlayout2">
          <mat-icon>link</mat-icon>
        </a>
      </mat-expansion-panel-header>
      @angular/flex-layout example of a full page layout with a static left column and a static footer and a content
      area that expands to fill the remaining area and scrolls if the content exceeds
      the area. It also demonstrates embedding a sidenav with the content area.
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        ag-grid <a routerLink="/ag-grid">
          <mat-icon>link</mat-icon>
        </a>
      </mat-expansion-panel-header>
      <a href="https://www.ag-grid.com">ag-grid</a><br>
      <a href="https://www.ag-grid.com/example.php#/">External demo</a>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Web Sockets <a routerLink="/websockets">
          <mat-icon>link</mat-icon>
        </a>
      </mat-expansion-panel-header>
      Web sockets using RxJs WebSocketSubject
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        RxJs <a routerLink="/rxjs">
          <mat-icon>link</mat-icon>
        </a>
      </mat-expansion-panel-header>
      Misc RxJs stuff
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        D3 <a routerLink="/d3">
          <mat-icon>link</mat-icon>
        </a>
      </mat-expansion-panel-header>
      Misc D3 stuff
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Misc <a routerLink="/misc">
          <mat-icon>link</mat-icon>
        </a>
      </mat-expansion-panel-header>
      dynamically load components, IconService
    </mat-expansion-panel>
  </mat-accordion>
</div>
