@import '../../../global-variables';
@import '~@angular/material/theming';

.my-subheading-1 {
  @include mat-typography-level-to-styles($custom-typography, subheading-1);
}

mat-sidenav-container.m2app-dark {
  background: black;
}

.mat-slider-horizontal {
  width: 300px;
}

.mat-slider-vertical {
  height: 300px;
}

mat-chip {
  max-width: 200px;
}


