
$primary-palette: map-get($app-theme, primary);
$accent-palette: map-get($app-theme, accent);
$warn-palette: map-get($app-theme, warn);

$primary: mat-color($primary-palette);
$primary-contrast: map-get($primary-palette, lighter-contrast);
$primary-normal: mat-color($primary-palette);
$primary-light: mat-color($primary-palette, lighter);
$primary-dark: mat-color($primary-palette, darker);
$primary600: mat-color($primary-palette, 600);
$primary500: mat-color($primary-palette, 500);
$primary400: mat-color($primary-palette, 400);
$primary300: mat-color($primary-palette, 300);
$primary200: mat-color($primary-palette, 200);
$primary100: mat-color($primary-palette, 100);
$primary50: mat-color($primary-palette, 50);
$accent: mat-color($accent-palette);
$background: map-get(map-get($app-theme, background), background);
$foreground: map-get(map-get($app-theme, foreground), text);

$selected: #DB167B;

$grey: #BDBDBD;
$red: #F44336;
$yellow: #FFFF00;
$orange: #FFAB00;
$amber: $orange;
$blue: #0091EA;
$green: #00C853;
$white: #B4E7FF;

// AGS status
$state-unknown: $grey;
$state-off: $grey;
$state-occurring: $blue;
$state-executing: $blue;
$state-occurred: $green;
$state-ok: $green;
$state-completed: $green;
$state-caution: $orange;
$state-proposed: $orange;
$state-not-occurred: $red;
$state-alert: $red;
$state-failed: $red;
$state-error: $red;
$state-standby: $blue;

// UCI status
$uci-state-unallocated: #C4C4C4;
$uci-state-allocated: #8080FF;
$uci-state-proposed: #80FF80;
$uci-state-planned: #8ECB34;
$uci-state-executing: #FFFFFF;
$uci-state-completed: #00AA00;
$uci-state-failed: #FF6060;
$uci-state-cancelled: #797979;

// security classifications
$unclassified: $green;
$confidential: $blue;
$secret: $red;
$topsecret: $yellow;
