
$primary-palette: map-get($app-theme, primary);
$accent-palette: map-get($app-theme, accent);
$warn-palette: map-get($app-theme, warn);

$primary: mat-color($primary-palette);
$primary-light: mat-color($primary-palette, lighter);
$primary-dark: mat-color($primary-palette, darker);
$primary900: mat-color($primary-palette, darker);
$primary800: mat-color($primary-palette);
$primary700: mat-color($primary-palette, lighter);
$primary600: mat-color($primary-palette, 600);
$primary500: mat-color($primary-palette, 500);
$primary400: mat-color($primary-palette, 400);
$primary300: mat-color($primary-palette, 300);
$primary200: mat-color($primary-palette, 200);
$primary100: mat-color($primary-palette, 100);
$primary50: mat-color($primary-palette, 50);
$accent: mat-color($accent-palette);
$accent800: mat-color($accent-palette);
$accent300: mat-color($accent-palette, darker);
$accent200: mat-color($accent-palette);
$accent100: mat-color($accent-palette, lighter);
$warn: mat-color($warn-palette);
$background: map-get(map-get($app-theme, background), background);
$foreground: map-get(map-get($app-theme, foreground), text);
$text-normal: map-get(map-get($app-theme, foreground), text);
$text-medium: rgba($text-normal, .6);
$text-disabled: rgba($text-normal, .38);
$text-dark-normal: rgba(#000, .87);
$text-dark-medium: rgba($text-normal, .6);
$text-dark-disabled: rgba($text-normal, .38);
$highlight: rgba($foreground, .1);

$selected: #DB167B;

$grey: #BDBDBD;
$red: #F44336;
$yellow: #FFFF00;
$orange: #FFAB00;
$amber: $orange;
$blue: #0091EA;
$green: #00C853;
$white: #B4E7FF;
$cyan: #80deea;

$default-box-shadow:
  0 3px 5px -1px rgba(0, 0, 0, .2),
  0 6px 10px 0 rgba(0, 0, 0, .14),
  0 1px 18px 0 rgba(0, 0, 0, .12);

// security classifications
$unclassified: $green;
$confidential: $blue;
$secret: $red;
$topsecret: $orange;
// topsecret SCI SAR is yellow, todo (mwt)
