$icons-path: '~ag-grid-community/src/styles/ag-theme-material/icons/';
$foreground-color: $foreground;
$background-color: $primary800;
$header-foreground-color: $text-medium;
$border-color: $highlight;
$icon-color: $foreground-color;
$secondary-font-weight: 400; // used in the header
$hover-color: $highlight;
$primary-color: $border-color;
@import '~ag-grid-community/src/styles/ag-grid';
@import '~ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material';

// Then overwrite the icon-background mixin like such:
@mixin icon-background($icon) {
  -webkit-mask: url('#{$icons-path}#{$icon}.svg') no-repeat center;
  mask: url('#{$icons-path}#{$icon}.svg') no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: $icon-color;
  background: $icon-color;
  background-size: 14px 14px;
  display: inline-block;
}

$icons: aggregation arrows asc checkbox-checked-readonly checkbox-checked checkbox-indeterminate-readonly checkbox-indeterminate checkbox-unchecked-readonly checkbox-unchecked column columns contracted copy cut desc expanded eye-slash eye filter group indeterminate left loading menu minus none not-allowed paste pin pivot plus right small-left small-right small-up small-down tick cross tree-open tree-closed tree-indeterminate;

@each $icon in $icons {
  .ag-theme-material .ag-icon-#{$icon} {
    @include icon-background('#{$icon}');
  }
}

ag-grid-angular.ag-theme-material {
  overflow: auto;

  .ag-row .ag-cell.ag-cell-focus {
    border: none;
  }
}
