@import 'material-theme';

#ag-grid-container {

  @import '~ag-grid-community/dist/styles/ag-grid.css';
  @import '~ag-grid-community/dist/styles/ag-theme-material.css';

  ag-grid-angular.ag-theme-material {
    $border-color: rgba($foreground, 0.12);
    overflow: auto;

    background-color: inherit;
    color: inherit;

    .ag-icon {
      color: white;
    }

    // header
    .ag-header {
      background-color: inherit;
      color: inherit;
      border-bottom-color: $border-color;

      .ag-column-hover {
        background-color: inherit;
      }

      .ag-pinned-left-header {
        border-right-color: $border-color
      }
    }

    // rows
    .ag-row {
      border-color: $border-color;

      &.ag-row-hover {
        background: $highlight;
        cursor: pointer;
      }

      &.ag-row-selected {
        background-color: $highlight;
      }
    }

    // cells
    .ag-cell {
      &.ag-cell-last-left-pinned {
        border-right-color: $border-color;
      }
    }
  }
}
